
@{
    // name of layout that will bind on it
    //connect layout with view
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body>
    @DateTime.Now;
    @{
        int x = 0;
        string name = "Abdo";
    }
    <!--html comment-->
    @*razer page comment*@

    
    @* start Body *@

    <section>
        <center>
            <div class="mt-3 bg-primary text-white rounded-2">
                <h1>Welcome to Home Page</h1>
                <p>lorem ipsum ......................</p>
            </div>
        </center>
    </section>


    @* end Body *@
</body>
</html>
